<!DOCTYPE html>
<html>
<head>
  <!--   <link rel="stylesheet" href="bootstrap.min.css"> -->

  <style>
    h1,h3,h5 {
      display: inline;
      display: inline;
    }

    #in {
      font-family: 'Caveat', cursive;
      font-family: 'Estonia', cursive;
      font-family: 'Pacifico', cursive;
    }

    .t {
      border: 1px solid black;
      padding: 8px;

    }

    pre {
      font-family: 'Pacifico', cursive;
    }



    .hh {
      border: none;

    }

    table,th,td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;
      margin: 3px;
    }


    .bi-diamond-fill {
      font-size: 400px;
    }


    .rr {
      /*  width: 100px;
  height: 100px;
  background: red;*/
      transition: width 2s;
    }


  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Estonia&display=swap"> -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title></title>
</head>
<body class="bg-light">

  <div class=" container-fluid   shadow  text-center p-2 ">
    <div class=" container-fluid   shadow  text-center p-2 mt-2 ">
      <!--  <img src="logo.jpg" class="thumbmail  " style="margin:0px;width:150px;" > -->
      <h3> IML </h3> <h1> DISK</h1>
      <h5 id="in" class="pb-2">insights </h5><sup>TM</sup>
      <h1><b> PERSONALITY SYSTEM ANALYSIS </b></h1>
    </div>
  </div>




  <div class="bg-light  m-2  p-3 row   " style="">

    <div class="col bg-dak m-5 p-2">
      <h1 class="text-center">  Example </h1>
      <table class="t bg-white m-2 ">
        <tr class="t">


          <th class="t"> M</th>
          <th class="t"> L</th>
          <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

        </tr>

        <tr class="t rr">

          <td class="t"><span class=""><i class="bi bi-diamond-fill " style="font-size:15px;color:black"></i></span></td>


          <td class="t"><span id="" class=""><i onclick="p()" class="bi bi-circle bg-dark mx-auto rounded-circle " style="color:black;font-size:15px"></i><span></td>

            <td class="hh">   Easy going, agreeable    </td>

          </tr>

            <tr class="t">

              <td class="t"><span class=""><i class="bi bi-diamond-fill" style="font-size:15px"></span></i></td>

              <td class="t"> <span class=" rounded-circle border-dark border p-1"><i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i></span></td>
              <td class="hh">  Trusting, Believing in others   </td>

            </tr>

            <tr class="t">

              <td class="t"><span class=""><i class="bi bi-diamond-fill" style="font-size:15px"></i></span></td>
              <td class="t"><span class=""><i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i></span></td>
              <td class="hh">   Adventurous, Risk taker    </td>
            </tr>





            <tr class="t">
              <td class="t"> <span class="rounded-circle border border-dark p-1 "> <i class="bi bi-diamond-fill" style="font-size:15px">
              </i> </span></td>
              <td class="t"><span class=""><i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i></span></td>
              <td class="hh"> Tolerant, Respectful   </td>
            </tr>



          </table>
        </div>


        <div class="col bg-white m-3" style="border:1px solid black">

          <span class=""> <b>INSTRUCTIONS:</b></span> <br>
          <ol>
            <li> Choose the setting in which your responses will be made: work,home,social, etc</li>
            <li> Each box below contains four phrases. Carefully read each of the four phrases in the box. Depending on the setting you have choosen , circle  the " <i class="bi bi-diamond-fill" style="font-size:15px">
            </i> " next to the phrase that <b> MOST</b> describe you in that setting. </li>
            <li> Circle the "<i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>" next to the phrase that LEAST describes you in the setting you chose.</li>
            <li>For each box, choose<b> ONLY ONE MOST and ONLY ONE LEAST </b> response.  </li>
            <li> This sheet should be completed within <b>SEVEN MONUTES</b>, or as close to that as possible</li>



          </ol>





        </div>



      </div>

      <br>
      <div class="p-1 container-fluid  bg-dark  text-white" style="width:">

        <button onclick="onlyOneSelection(1,2,3,4);sameR('r1', 'c1')"> check onlyOneSelection</button>
        <!-- ***** Row One -->
        <div class="row bg-white ">

          <div class="col bg-white m-1">

            <table class="t bg-white text-dark m-1 ">
              <tr class="t">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <!--  <th style="border:none" class="bg-dark d-none hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th> -->

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="ms s1 r1" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id=""
                  class="ls s1 c1">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Easy going, agreeable <span style="visibility:hidden">jfhjggj</span>   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mi   s2 r1" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="    li s2 c1" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Trusting, Believing in others   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mst s3 r1" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ld s3 c1" name="">
                  <i class="bi bi-circle bg-dark rounded-circle" style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Adventurous, Risk taker    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mc s4 r1" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lc s4 c1" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Tolerant, Respectful   </td>
              </tr>



            </table>


          </div>



          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="md s5 r2" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="ld s5
                  c2">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Results are what matter  <span style="visibility:hidden">jfhjgj</span>   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mc s6 r2" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="    lc s6 c2" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Do it right, Accuracy counts   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mst s7 r2" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s7 c2" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Make it enjoyable   </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mst s8 r2" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ls s8 c2" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Let's do it together   </td>
              </tr>



            </table>


          </div>

          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mst s9 r3" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="lc s9 c3">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Education, Culture  <span style="visibility:hidden">jfhnnfnjggj</span>  </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="md s10 r3" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="    ld s10 c3" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Achievements, Awards   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="ms s11 r3" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ls s11 c3" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Safety, Security   </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mi s12 r3" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lst s12 c3" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Social, Group Gatherings   </td>
              </tr>



            </table>
          </div>

        </div>

        <!-- Row Two -->
        <div class="row bg-white">


          <div class="col bg-white m-1">

            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mc s13 r4" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="lst s13 c4">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Soft spoken, Reserved   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="md s14 r4" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="ld s14 c4" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Optimimistic, Visionary   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mst s15 r4" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s15 c4" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Center of Attention, Sociable    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="ms s16 r4" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ls s16 c4" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Peacemaker, Bring harmony   </td>
              </tr>



            </table>


          </div>



          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mst s17 r5" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="lc s17 c5">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Will do without, selfcontrolled    </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="md s18 r5 " name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="ld s18 c5" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Will buy on impulse    </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="ms s19 r5" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ls s19 c5" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Will wait, No pressure    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mi s20 r5" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lst s20 c5" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Will spend on what I want  </td>
              </tr>



            </table>


          </div>

          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none bg-white" style="visibility:hidden">


                <th class="t bg-white"> M</th>
                <th class="t bg-white" style="visibility:hidden"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="md s21 r6" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="ld s21 c6" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Take change, Direct approach    </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mst s22 r6" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="li s22 c6" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Outgoing, Enthusiastic  </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mst s23 r6" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ls s23 c6" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Predictable, Consistent   </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mc s24 r6" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lst s24 c6" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Cautious, Careful  </td>
              </tr>



            </table>
          </div>

        </div>

        <!-- Row Three -->

        <div class="row bg-white">


          <div class="col-md bg-white m-1">

            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="d-none" style=""> Tr&st*ng believing in good bdndnfnfnfnnb</pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mi s25 r7" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="li s25 c7" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Encourage others <span style="visibility:hidden">jfjfjffnnfnf</span> </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mst s26 r7" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="lc s26 c7" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Strive for perfection  </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mst s27 r7" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ls s27 c7" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Be part of the team   </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="md s28 r7" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lst s28  c7" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Want to establish goals   </td>
              </tr>



            </table>


          </div>



          <div class="col-md bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="ms s29 r8" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="lst s29 c8">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Not easily defeated   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mst s30 r8" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="li s30 c8" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Will do as told, Follows leader   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="md s31 r8" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ld s31 c8" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Excitable, Cheerful   </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mc s32 r8" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lc s32 c8" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Want things orderly, Neat   </td>
              </tr>



            </table>


          </div>

          <div class="col-md bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none bg-white" style="visibility:hidden">


                <th class="t bg-white"> M</th>
                <th class="t bg-white" style="visibility:hidden"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="md s33 r9" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="ld s33 c9">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Friendly, Easy to be with   <span style="visibility:hidden">jfglgj</span>  </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="ms s34 r9" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="lst s34 c9" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Unique, Bored by routine   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mi s35 r9" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s35 c9" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Actively Change things    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mst s36 r9" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lc s36 c9" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Want things exact  </td>
              </tr>



            </table>
          </div>

        </div>



        <!-- Row Four -->

        <div class="row bg-white">


          <div class="col bg-white m-1">

            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mc s37 r10" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="lc s37 c10" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">  Become frustrated  <span style="visibility:hidden">jfh>vbggj</span>  </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="ms s38 r10" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="ls s38 c10" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Keep my feelings inside  </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mst s39 r10" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s39  c10" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Tell my side of the story    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="md s40 r10" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ld s40 c10" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Stand up to opposition   </td>
              </tr>



            </table>


          </div>



          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mst s41 r11" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="ls s41 c11" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   I will lead them   <span style="visibility:hidden">jfhbbbjhnnjggj</span> </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mc s42 r11" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="lst s42 c11" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  I will follow through   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mi s43 r11" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s43 c11" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   I will persuade them    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="md s44 r11" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ld s44 c11" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> I will get the facts   </td>
              </tr>



            </table>


          </div>

          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none bg-white" style="visibility:hidden">


                <th class="t bg-white"> M</th>
                <th class="t bg-white" style="visibility:hidden"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="md s45 r12" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="lst s45 c12" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Non-confrontational Giving in   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="ms s46 r12" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="ls s46 c12" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Overloaded with details   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mi s47 r12" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s47 c12" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Changes at the last minute
                </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mc s48 r12" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lst s48 c12" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Demanding, Abrupt  </td>
              </tr>



            </table>
          </div>

        </div>

        <!-- Row Five -->

        <div class="row bg-white">


          <div class="col bg-white m-1">

            <table class="t bg-white text-dark m-1 ">

              <tr class="d-none">
                <th class="t "> M</th>
                <th class="t "> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mi s49 r13" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="lst s49 c13" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Livelely, Talkative  <span style="visibility:hidden">jfvvbb
                  jglgj</span>  </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="md s50 r13" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="ld s50 c13" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Fast paced, Determined   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="ms s51 r13" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ls s51 c13" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Try to maintain balance   </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mst s52 r13" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lc s52 c13" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Try to follow the rules   </td>
              </tr>



            </table>


          </div>



          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="md s53 r14" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="ld s53 c14" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Think of others first  <span style="visibility:hidden">jfhmmjggj</span>   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="ms s54 r14" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="lst s54 c14" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Competetive, like a challenge   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mi s55 r14" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="lst s55 c14" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Optimistic, positive    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mst s56 r14" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lc s56 c14" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Logical thinker, Systematic   </td>
              </tr>



            </table>


          </div>

          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none bg-white" style="visibility:hidden">


                <th class="t bg-white"> M</th>
                <th class="t bg-white" style="visibility:hidden"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="ms s57 r15" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="ls s57 c15" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Want advancement    </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="md s58 r15" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="ld s58 c15" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Satisfied with things, Content   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mi s59 r15" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s59 c15" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Openly display feelings   </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mst s60 r15" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lc s60 c15" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Humble,Modest  </td>
              </tr>



            </table>
          </div>

        </div>


        <!-- Row Six -->

        <div class="row bg-white">


          <div class="col bg-white m-1">

            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mc s61 r16" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="lst s61 c16" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Manage time efficiently   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="md s62 r16" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="ld s62 c16" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Often rushed, Feel pressured   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mi s63 r16" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s63 c16" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Social things are important    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="ms s64 r16" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ls s64 c16" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Like to Finish what I start  </td>
              </tr>



            </table>


          </div>



          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mc s65 r17" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="lc s65 c17" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Please others, Agreeable  <span style="visibility:hidden">jjfggj</span>   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mi s66 r17" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="li s66 c17" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Laugh out loud, Animated   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="ms s67 r17" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="lst s67 c17" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Courageous, Bold    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="md s68 r17" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ld s68 c17" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Quiet,Reserved   </td>
              </tr>



            </table>


          </div>

          <div class="col bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none bg-white" style="visibility:hidden">


                <th class="t bg-white"> M</th>
                <th class="t bg-white" style="visibility:hidden"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="ms s69 r18" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" class="ls s69 c18" id="">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Cool, Reserved  <span style="visibility:hidden">jfhjbnnnnnggj</span>   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mst s70 r18" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="li s70 c18" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Happy, carefree   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="md s71 r18" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ld s71 c18" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Pleasing, kind    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mc s72 r18" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lc s72 c18" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Bold,Daring   </td>
              </tr>



            </table>
          </div>

        </div>


        <!-- Row Seven -->

        <div class="row bg-white">


          <div class="col-md bg-white m-1">

            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="ms s73 r19" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="lst s73 c19">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Resist Sudden change  <span style="visibility:hidden">jfhjggj</span>   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mi s74 r19" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="li s74 c19" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Tend to over promise   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mst s75 r19" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="lc s75 c19" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   withdraw under pressure    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mst s76 r19" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ld s76 c19" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Not afraid to fight  </td>
              </tr>



            </table>


          </div>



          <div class="col-md bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="ms s77 r20" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="ls s77 c20">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Want more authority   <span style="visibility:hidden">jfhnvcjggj</span>  </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mc s78 r20" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="lst s78 c20" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Want new opportunities   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mi s79 r20" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s79 c20" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Avoid any conflict    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="md s80 r20" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ld s80 c20" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Want clear directions   </td>
              </tr>



            </table>


          </div>

          <div class="col-md bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none bg-white" style="visibility:hidden">


                <th class="t bg-white"> M</th>
                <th class="t bg-white" style="visibility:hidden"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mst s81 r21" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="ld s81 c21">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Spend quality time with others    </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mi s82 r21" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="lst s82 c21" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Plan for the future,Be prepared
                </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="ms s83 r21" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="ls s83 c21" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Travel to new adventures    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mst s84 r21" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lc s84 c21" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Receive rewards for goals met  </td>
              </tr>



            </table>
          </div>

        </div>

        <!-- Row Eight -->

        <div class="row bg-white">


          <div class="col-md bg-white m-1">

            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mi s85 r22" id="mi">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="li s85 c22">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   A good encourager   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="ms s86 r22" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="ls s86 c22" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  A good listener  <span style="visibility:hidden">jfhbbbnnnjggj</span>  </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mc s87 r22" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="lc s87 c22" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   A good analyzer   </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="md s88 r22" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ld s88 c22" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> A good delegator   </td>
              </tr>



            </table>


          </div>



          <div class="col-md bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none">


                <th class="t"> M</th>
                <th class="t"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mst s89 r23" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="ld s89 c23">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Reliable, Dependable  <span style="visibility:hidden">jfhjggj</span>    </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mc s90 r23" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="lst s90 c23" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Creative, Unique    </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="mi s91  r23" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="li s91 c23" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Bottom line, Results Oriented    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="ms s92 r23" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="ls s92 c23" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Hold high standards, Acuurate   </td>
              </tr>



            </table>


          </div>

          <div class="col-md bg-white">
            <table class="t bg-white text-dark m-1 ">
              <tr class="t d-none bg-white" style="visibility:hidden">


                <th class="t bg-white"> M</th>
                <th class="t bg-white" style="visibility:hidden"> L</th>
                <th class="bg-dark hh"> <pre class="" style="visibility:hidden"> Tr&st*ng believing in </pre> </th>

              </tr>

              <tr class="t">

                <td class="t"> <div name="" class="mst s93 r24" id="">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>


                <td class="t"><div name="" id="" class="ls s93 c24">
                  <i onclick="()=>{}" class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>

                <td class="hh">   Rules need to be challenged <span style="visibility:hidden">jfgj</span>   </td>

              </tr>

              <tr class="t">

                <td class="t"> <div class="mi s94 r24" name=" " id=" ">
                  <i class="bi text-dark bi-diamond-fill" style="font-size:15px"></i>
                </div>
                </td>

                <td class="t"> <div class="    li s94 c24" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">  Rules make it fair   </td>

              </tr>

              <tr class="t">

                <td class="t"><div class="md s95  r24" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"> <div class="lst s95 c24" name="">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh">   Rules make it boring    </td>
              </tr>





              <tr class="t">
                <td class="t"><div class="mc s96 r24" name="">
                  <i class="bi bi-diamond-fill text-dark" style="font-size:15px"></i>
                </div>
                </td>
                <td class="t"><div class="lst s96 c24" name=" ">
                  <i class="bi bi-circle bg-dark rounded-circle " style="color:black;font-size:15px"></i>
                </div>
                </td>
                <td class="hh"> Rules make it Safe  </td>
              </tr>



            </table>
          </div>

        </div>


























        <div class="d-none">
          <form method="post" action="/submitScores">
            <input name="most" id="discMost">
            <input name="least" id="discLeast">

            <input type="submit" id="sub">


          </form>


        </div>


















      </div>
      <br>
      <center>   <button class=" mx-auto text-white  btn bg-primary btn-md" onclick="checkAllQuestion();harvestScore()"> Check</button>
      </div>
    </center>


    <!--   <center>   <button class=" mx-auto text-white d-lg-block d-md-block d-sm-none btn bg-primary btn-lg" onclick="harvestScore()"> Check</button>
         </div> </center> -->

    <br>


    <!--  <div>
      <canvas id="myChart"></canvas>
    </div>


      <div>
      <canvas id="myChart2"></canvas>
    </div> -->


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>







    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--  <script src="bootstrap.min.js"> </script -->
    <script>

      var patt = /circled/;

      function p(trr) {


        if (trr) {


          let f = document.querySelector(`#${trr}`).getAttribute('class')



          if (patt.test(f)) {
            document.querySelector(`#${trr}`).classList.remove("rounded-circle")

            document.querySelector(`#${trr}`).setAttribute('name', ' ')


            document.querySelector(`#${trr}`).classList.remove("border")

            document.querySelector(`#${trr}`).classList.remove("border-dark")

            document.querySelector(`#${trr}`).classList.remove("p-1")

            document.querySelector(`#${trr}`).classList.remove("circled")
            /*   document.querySelector(`#${trr}`).getAttribute("name") = " " ; */
          } else {
            for (i = 1; i <= 96; i++) {
              checkIfSameAnsIsChoosen(`s${i}`)

            }

            multipleSameR()


            document.querySelector(`#${trr}`).classList.add('circled')

            document.querySelector(`#${trr}`).setAttribute('name', 'checked')


            document.querySelector(`#${trr}`).classList.add("rounded-circle")

            document.querySelector(`#${trr}`).classList.add("border")

            document.querySelector(`#${trr}`).classList.add("border-dark")


            document.querySelector(`#${trr}`).classList.add("p-1")


            multipleOneSelection()
            /*   document.querySelector(`#${trr}`).getAttribute("name") = "checked" ; */
          }




        }

      }

      //    p("s1")



      function  harvestScore() {
        let md = mi = ms = mc = mst = 0;
        let ld = li = ls = lc = lst = 0;
        //  let ld = li = ls = lc = lst = 0 ;
        mostTotal = [];
        leastTotal = [];

        // md
        smd = document.querySelectorAll('.md');

        smd.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            md += 1
          }
        })

        // mi
        smi = document.querySelectorAll('.mi');

        smi.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            mi += 1
          }
        })

        // ms
        sms = document.querySelectorAll('.ms');

        sms.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            ms += 1
          }
        })

        // mc
        smc = document.querySelectorAll('.mc');

        smc.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            mc += 1
          }
        })

        // mst
        smst = document.querySelectorAll('.mst');

        smst.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            mst += 1
          }
        })


        // Least

        // ld
        sld = document.querySelectorAll('.ld');

        sld.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            ld += 1
          }
        })

        // li
        sli = document.querySelectorAll('.li');

        sli.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            li += 1
          }
        })

        // ms
        sls = document.querySelectorAll('.ls');

        sls.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            ls += 1
          }
        })

        // lc
        slc = document.querySelectorAll('.lc');

        slc.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            lc += 1
          }
        })

        // lst
        slst = document.querySelectorAll('.lst');

        slst.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            lst += 1
          }
        })













        mostTotal.push(md,
          mi,
          ms,
          mc,
          mst)
        leastTotal.push(ld,
          li,
          ls,
          lc,
          lst)

        document.getElementById('discMost').value = mostTotal
        document.getElementById('discLeast').value = leastTotal

        document.getElementById('sub').click()
        /*  const labels = [
  'D',
  'I',
  'S',
  'C'
];
const data = {
  labels: labels,
  datasets: [{
    label: 'MASK PUBLIC SELF',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data:mostTotal,
  }]
};

const config = {
  type: 'line',
  data: data,
  options: {
    scales: {
            y: {
                suggestedMin: 0,
                suggestedMax: 14
            }
        }
  }
};



  // === include 'setup' then 'config' above ===

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );




    const labels2 = [
  'D',
  'I',
  'S',
  'C'
];
const data2 = {
  labels: labels,
  datasets: [{
    label: 'CORE PRIVATE SELF',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data:leastTotal,
  }]
};

const config2 = {
  type: 'line',
  data: data2,
  options: {
    scales: {
            y: {
                suggestedMin: 0,
                suggestedMax: 14
            }
        }
  }
};



  // === include 'setup' then 'config' above ===

  const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );
*/






      }






      function checkIfSameAnsIsChoosen (t) {
        let   gv = document.querySelectorAll(`.${t}`)

        if (gv[0].getAttribute('name') == "checked" && gv[1].getAttribute('name') == 'checked') {
          alert('You cannot have both   answer  in the same column  per table')
          throw Error
        }

      }


      all = document.querySelectorAll('td div ')


      i = 0;
      all.forEach((n)=> {

        i++
        n.id = `d${i}`;
        n.setAttribute('onclick', `p('d${i}')`)
        n.setAttribute('style', 'padding:6px')



      })







      //  j= [] ;
      // v = document.querySelectorAll(".lc")

      /* v.forEach((n)=>{
   }
 })  */

      // alert(v.length)

      function onlyOneSelection(a, b, c, d) {
        let  checked = []
        document.querySelectorAll(`.s${a}`).forEach((b)=> {
          if (b.getAttribute('name') == "checked") {
            checked.push(1)
          }
        })


        document.querySelectorAll(`.s${b}`).forEach((b)=> {
          if (b.getAttribute('name') == "checked") {
            checked.push(1)
          }
        })


        document.querySelectorAll(`.s${c}`).forEach((b)=> {
          if (b.getAttribute('name') == "checked") {
            checked.push(1)
          }
        })

        document.querySelectorAll(`.s${d}`).forEach((b)=> {
          if (b.getAttribute('name') == "checked") {
            checked.push(1)
          }
        })

        if (checked.length > 2) {
          throw Error
          alert("You can only choose two answers per a table ")
        }

        if (checked.length < 2) {
          throw Error

          alert("You must choose two answers per table a ")
        }





      }


      function sameR(r1, c1) {
        c = []
        r = []
        document.querySelectorAll(`.${r1}`).forEach((k)=> {
          if (k.getAttribute('name') == "checked") {
            c.push(1)
          }
        })

        document.querySelectorAll(`.${c1}`).forEach((k)=> {
          if (k.getAttribute('name') == "checked") {
            r.push(1)
          }
        })

        if (r.length > 1 || c.length > 1) {

          alert("you can only choose one answer per row")
          throw Error
        }

      }

      function multipleSameR() {
        for (i = 1; i <= 24; i++) {
          sameR(`r${i}`, `c${i}`)
        }
      }

      function multipleOneSelection() {
        onlyOneSelection(1, 2, 3, 4)
        onlyOneSelection(5, 6, 7, 8)
        onlyOneSelection(9, 10, 11, 12)
        onlyOneSelection(13, 14, 15, 16)
        onlyOneSelection(17, 18, 19, 20)
        onlyOneSelection(21, 22, 23, 24)
        onlyOneSelection(25, 26, 27, 28)
        onlyOneSelection(29, 30, 31, 32)
        onlyOneSelection(33, 34, 35, 36)
        onlyOneSelection(37, 38, 39, 40)
        onlyOneSelection(41, 42, 43, 44)
        onlyOneSelection(45, 46, 47, 48)
        onlyOneSelection(49, 50, 51, 52)
        onlyOneSelection(53, 54, 55, 56)
        onlyOneSelection(57, 58, 59, 60)
        onlyOneSelection(61, 62, 63, 64)
        onlyOneSelection(65, 66, 67, 68)
        onlyOneSelection(69, 70, 71, 72)
        onlyOneSelection(73, 74, 75, 76)
        onlyOneSelection(77, 78, 79, 80)
        onlyOneSelection(81, 82, 83, 84)
        onlyOneSelection(85, 86, 87, 88)
        onlyOneSelection(89, 90, 91, 92)
        onlyOneSelection(93, 94, 95, 96)

      }


      function  checkAllQuestion() {
        let md = mi = ms = mc = mst = 0;
        let ld = li = ls = lc = lst = 0;
        //  let ld = li = ls = lc = lst = 0 ;
        let    mostTotal = [];
        let     leastTotal = [];

        // md
        let  smd = document.querySelectorAll('.md');

        smd.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            md += 1
          }
        })

        // mi
        let  smi = document.querySelectorAll('.mi');

        smi.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            mi += 1
          }
        })

        // ms
        sms = document.querySelectorAll('.ms');

        sms.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            ms += 1
          }
        })

        // mc
        smc = document.querySelectorAll('.mc');

        smc.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            mc += 1
          }
        })

        // mst
        smst = document.querySelectorAll('.mst');

        smst.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            mst += 1
          }
        })


        // Least

        // ld
        sld = document.querySelectorAll('.ld');

        sld.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            ld += 1
          }
        })

        // li
        sli = document.querySelectorAll('.li');

        sli.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            li += 1
          }
        })

        // ms
        sls = document.querySelectorAll('.ls');

        sls.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            ls += 1
          }
        })

        // lc
        slc = document.querySelectorAll('.lc');

        slc.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            lc += 1
          }
        })

        // lst
        slst = document.querySelectorAll('.lst');

        slst.forEach((n)=> {
          if (n.getAttribute('name') == "checked") {
            lst += 1
          }
        })













        mostTotal.push(md,
          mi,
          ms,
          mc,
          mst)
        leastTotal.push(ld,
          li,
          ls,
          lc,
          lst)

        let mT;
        let lT;

        mT = mostTotal[0] + mostTotal[1] + mostTotal[2] + mostTotal[3] +mostTotal[4]

        lT = leastTotal[0] + leastTotal[1] + leastTotal[2] + leastTotal[3] +leastTotal[4]



        if (mT < 24 || lT < 24) {
          alert("You must complete all questions; Two answers per each table")
          throw Error
        }

        if (mT > 24 || lT > 24) {
          alert('only two answers per table are allowed')
          throw Error
        }
      }








    </script>
  </body>
</html>